:root {
  font-size: 10px;
  font-size: 1.36vh !important;
  font-size: clamp(7px, 1.36vh, 13px) !important;
  color-scheme: dark;
  -webkit-tap-highlight-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ysabeau Infant", Arial, Helvetica, sans-serif;
  font-size: 2em;
  min-height: 100vh;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  color: #eee;
  background-color: #3e3e3e;
}
h1, h2, h3, h4 {
  font-size: inherit;
  color: tan;
}
strong, b {
  color: tan;
}
button {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}
a {
  color: #a9b6df;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #a9d2df;
}
[hidden] {
  display: none !important;
}

/* IPHONE */

.iphone {
  width: 38rem;
  height: 68rem;
  position: relative;
  background-color: #333;
  border: .3rem solid #222;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
  -webkit-user-select: none;
  user-select: none;
}
.iphone:after,
.iphone:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: .1rem solid #111;
}
.iphone:before {
  width: 6rem;
  height: .5rem;
  top: 2%;
  background-color: #555;
  border-radius: .5rem;
}
.iphone:after {
  width: 3rem;
  height: 3rem;
  bottom: 2.5%;
  background-color: #777;
  border-radius: 50%;
}
.viewport {
  width: 90%;
  height: 85%;
  position: relative;
  left: 5%;
  top: 5%;
  background-color: #4c4c4c;
  border: .1rem solid #444;
  border-radius: .6rem;
  overflow: hidden;
}
.viewport:after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    70deg,
    transparent,
    rgba(255, 255, 255, .3) 70%,
    transparent
  );
  pointer-events: none;
  z-index: 3;
}

/* STATUSBAR */

.statusbar {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .6em;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .4em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 .6rem;
  z-index: 3;
}
.statusbar__time {
  font-size: 1.1em;
  margin-right: auto;
}
.statusbar__wifi {
  width: 2rem;
  height: 2rem;
}
.statusbar__net {
  display: flex;
  align-items: flex-end;
  column-gap: .2rem;
}
.statusbar__net > i {
  width: .2rem;
  height: .5rem;
  background-color: currentColor;
}
.statusbar__net > i:nth-child(2) {
  height: .8rem;
}
.statusbar__net > i:nth-child(3) {
  height: 1.1rem;
}
.statusbar__net > i:last-child {
  height: 1.4rem;
  opacity: .5;
}
.statusbar__battery {
  display: flex;
  align-items: center;
}
.statusbar__battery > i {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: .35rem;
  border: .2rem solid;
  border-radius: 50%;
}

/* COMMON: layer */

.layer {
  --opacity: 0;
  --visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.4em;
  bottom: 5em;
  background: inherit;
  opacity: var(--opacity);
  visibility: var(--visibility);
  transition: .25s;
  transition-property: opacity, visibility;
  z-index: 4;
}
.layer--shown {
  --opacity: 1;
  --visibility: visible;
}
.layer::after,
.layer::before {
  content: "";
  height: 1em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, #1d1d1d, transparent);
  pointer-events: none;
}
.layer::after {
  top: auto;
  bottom: 0;
  background: linear-gradient(0deg, #080808, transparent);
}
.layer__bg {
  position: absolute;
  inset: 0;
  background: url("img/disk.png") no-repeat 20% 50% / 200%;
  opacity: .1;
  z-index: -1;
}
.layer__close {
  font-family: Consolas, monospace;
  width: 1.2em;
  line-height: 1.2;
  position: absolute;
  right: .5em;
  top: 0;
  z-index: 2;
}
.layer__text {
  font-size: .8em;
  height: 100%;
  line-height: 1.25;
  padding: 1.2rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  white-space: pre-line;
  outline: none;
}

/* INTRO */

@keyframes introDive {
  0% { transform: translateY(0); }
  100% { transform: translateY(.2em); }
}
@keyframes introDiveFadeIn {
  0% { filter: opacity(0); }
  100% { filter: opacity(1); }
}
@keyframes introBackground {
  0% { background-position-x: 85%; }
  100% { background-position-x: 70%; }
}
@keyframes introTitle {
  0% { transform: translateY(1em); filter: opacity(0); }
  100% { transform: translateY(0); filter: opacity(1); }
}
@keyframes introLogo {
  0% { filter: opacity(0); }
  100% { filter: opacity(1); }
}
@keyframes introDetails {
  0% { filter: opacity(0); }
  100% { filter: opacity(1); }
}
@keyframes introPending {
  0% { background-position-x: 200%; }
  100% { background-position-x: 0%; }
}
.intro {
  position: absolute;
  inset: 0;
  padding-top: 3.5rem;
  text-align: center;
  background: url("img/cover-bg.jpg") no-repeat 70% 0 / cover;
  background-color: #222;
  overflow: hidden;
  animation: introBackground 3s ease-out backwards;
  z-index: 2;
}
.intro--hidden {
  opacity: 0;
  visibility: hidden;
  transition: .25s ease-in .1s;
  transition-property: opacity, visibility;
}
#no-JS {
  font-size: 1.6rem;
  position: absolute;
  inset: 0;
  padding-top: inherit;
  color: #ccc;
  background-color: inherit;
  z-index: 1;
}
.intro__heading {
  font-size: 0;
  opacity: 0;
}
.intro__img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  animation: introTitle 1s ease-out .3s backwards;
}
.intro__logo {
  top: auto;
  bottom: 2.5em;
  animation: introLogo 1.25s ease-out .5s backwards;
}
.intro__dive {
  width: 1em;
  height: 1em;
  position: absolute;
  left: 50%;
  bottom: 1em;
  animation:
    introDiveFadeIn .5s 1.25s backwards,
    introDive .3s linear infinite alternate;
}
.intro__dive::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 0 solid #eee;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(.5);
}
.intro__descr {
  top: 0;
  bottom: 0;
  padding-top: inherit;
  transition: none;
}
.intro__descr--shown {
  opacity: 1;
  visibility: visible;
  animation: introDetails .75s ease-out .25s backwards;
}
.intro__descr::before {
  display: none;
}
.intro__descr::after {
  height: auto;
  top: 0;
  background: linear-gradient(45deg, #080808 -50%, transparent);
  backdrop-filter: grayscale(.75);
}
.intro__trigger {
  --overlay-opacity: 0;
  --overlay-skew: 0deg;
  font-family: "Handlee", Arial, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: .4em .8em;
  background-color: #fff3;
  border: 1px solid;
  border-radius: 0;
  overflow: hidden;
  transform: translateX(-50%);
  transition: background-color .2s;
  z-index: 2;
}
.intro__trigger:is(:hover, :focus) {
  --overlay-opacity: 1;
  --overlay-skew: 45deg;
  background-color: #1118;
}
.intro__trigger::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff4;
  filter: opacity(var(--overlay-opacity));
  transform: skewX(var(--overlay-skew));
  transition: transform .2s, filter .2s;
}
.intro__trigger--pending::after {
  content: "";
  height: .3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #fff2 20%, #fff, #fff2 80%);
  background-position: 200% 0;
  background-size: 200% 100%;
  animation: introPending .75s linear -.2s infinite backwards;
}

/* PLAYER */

.player {
  --spin-play-state: paused;
  --spin-visibility: hidden;
  --spin-opacity: 0;
  --spin-transition-delay: 0s;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3.5rem 2rem 0;
  background-color: #222;
  background-image: linear-gradient(0deg, black, transparent);
  background-attachment: fixed;
  z-index: 1;
}
.player.ui-locked {
  --spin-play-state: running;
  --spin-visibility: visible;
  --spin-opacity: 1;
  --spin-transition-delay: .4s;
}

/* SPIN-LOADER */

@keyframes spin {
  to { transform: rotate(1turn); }
}
#spin {
  position: absolute;
  inset: 0;
  background-color: rgba(40, 40, 40, .5);
  opacity: var(--spin-opacity);
  visibility: var(--spin-visibility);
  transition-property: opacity, visibility;
  transition-duration: .3s;
  transition-delay: var(--spin-transition-delay);
  z-index: 5;
}
#spin::after {
  content: "";
  font-size: 2.5em;
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(50% - .5em);
  top: calc(50% - .5em);
  border-top: .06em solid #aaa;
  border-right: .06em solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  animation-play-state: var(--spin-play-state);
}

/* COVER & INFO */

.cover {
  width: auto;
  height: 46%;
  display: block;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: .25em;
  pointer-events: none;
}
.info {
  font-size: .8em;
  text-align: center;
  margin-top: 3rem;
}
.info__name {
  font-size: 1.3em;
  font-weight: bold;
  color: inherit;
}
.info__artist {
  font-weight: normal;
  color: #c4b29b;
}
.info__album {
  font-weight: normal;
  color: #aaa;
}

/* CONTROLS */

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
.controls__item {
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  line-height: 1;
  color: gray;
}
.controls__item:nth-child(4) {
  margin: 0 .125em;
  box-shadow: inset 0 0 0 .125rem;
  border-radius: 50%;
  transform: scale(1.25);
}
.controls__item--active {
  color: tan;
}
.controls__item:hover {
  color: inherit;
}
.controls__item:disabled {
  opacity: .4;
  pointer-events: none;
}
.controls__icon {
  width: 100%;
  height: 100%;
  padding: .2em;
  pointer-events: none;
}

/* TIMELINE */

.timeline {
  padding: 0 2.4em;
  margin: .75em 0 1.4em;
}
.timeline__time {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  margin: 0 -3.5em -.75em;
}
.timeline__track {
  --fill: 0%;
  --buffer: 0%;
  --shade-color: transparent;
  height: .16em;
  position: relative;
  color: #834b4b;
  background-color: #bbb;
  border-radius: .1em;
  outline: none;
  cursor: pointer;
}
.timeline__track:focus-within {
  --shade-color: #bbb;
}
.timeline__track:has(input:focus) {
  --shade-color: #bbb;
}
.timeline__buffer {
  width: var(--buffer);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #5a5a5a;
  border-radius: inherit;
}
.timeline__track::before {
  content: "";
  width: var(--fill);
  height: 100%;
  display: block;
  position: relative;
  background-color: currentColor;
  border-radius: inherit;
  z-index: 1;
}
.timeline__track::after {
  content: "";
  font-size: .5em;
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(var(--fill) - .5em);
  top: calc(50% - .5em);
  background-color: currentColor;
  box-shadow: 0 0 0 .15em var(--shade-color);
  border-radius: 50%;
  z-index: 1;
}
.timeline__input {
  font-size: 1em;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: -.25em;
  right: -.25em;
  top: 0;
  border: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

/* TRACKS */

@keyframes initTrack {
  0% { filter: opacity(0); transform: translateX(25%); }
  100% { filter: opacity(1); transform: translateX(0); }
}
@keyframes trackEQ {
  0% { transform: scaleY(1); }
  100% { transform: scaleY(6); }
}
.tracks {
  --opacity: 0;
  --visibility: hidden;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  position: absolute;
  inset: 0;
  padding: 3rem 0 0 .6rem;
  background-color: #222;
  background:
    linear-gradient(180deg, #2229, #222 70%),
    url("img/cover.jpg") no-repeat 0 100% / cover;
  opacity: var(--opacity);
  visibility: var(--visibility);
  pointer-events: none;
  transition: .25s;
  transition-property: opacity, visibility;
  z-index: 3;
}
.tracks--shown {
  --opacity: 1;
  --visibility: visible;
  pointer-events: auto;
}
.tracks__heading {
  font-weight: normal;
  height: 3rem;
  text-indent: .4rem;
}
.tracklist {
  --eq-animation: none;
  --eq-visibility: hidden;
  --overlay-visibility: hidden;
  --play-visibility: hidden;
  --play-visibility-active: hidden;
  --pause-visibility: hidden;
  --pause-visibility-active: hidden;
  flex: 1;
  padding-right: .6rem;
  padding-bottom: .6rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.track {
  font-size: .65em;
  display: flex;
  padding: .3rem;
  pointer-events: auto;
  cursor: pointer;
}
.track:hover,
.tracklist:not(:has(.track:hover)) > .track--active {
  --overlay-visibility: visible;
  background-color: rgba(120, 120, 120, .5);
  box-shadow: inset 0 0 0 1px #9f9473;
  border-radius: 2px;
}
.track__side {
  height: 4rem;
  position: relative;
  pointer-events: none;
}
.track__side--left {
  width: 4rem;
  background: url("img/cover-thumb.jpg") no-repeat center / contain;
}
.track__side--left:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(10, 10, 10, .6);
  visibility: var(--overlay-visibility);
  z-index: 1;
}

.track__play,
.track__pause {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  padding: .8em;
  visibility: var(--play-visibility);
  z-index: 1;
}
.track__pause {
  visibility: var(--pause-visibility);
}
.track:hover {
  --play-visibility: visible;
}
.track--active:hover {
  --pause-visibility-active: visible;
}

.track__eq {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .2rem;
  position: absolute;
  inset: 0;
  visibility: var(--eq-visibility);
  z-index: 1;
}
.track--active:not(:hover) {
  --eq-visibility: visible;
}
.player--playing .track--active {
  --play-visibility: hidden;
  --pause-visibility: var(--pause-visibility-active);
  --eq-animation: trackEQ .4s linear .4s infinite alternate;
}
.track__eq-item {
  width: .2rem;
  height: .2rem;
  background-color: currentColor;
  transform-origin: bottom;
  animation: var(--eq-animation);
}
.track__eq-item:first-child {
  animation-delay: 0s;
}
.track__eq-item:nth-child(2) {
  animation-delay: .6s;
}
.track__eq-item:last-child {
  animation-delay: .2s;
}

.track__side--right {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: 0 .5rem;
}
.track__info {
  flex: 1;
  line-height: 1.4;
}
.track__artist,
.track__duration {
  color: #aaa;
}

.tracklist-switcher {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 3rem;
  right: .6rem;
  opacity: .8;
  z-index: 4;
}
.tracklist-switcher:hover {
  opacity: 1;
}
.tracklist-switcher__item {
  width: 70%;
  height: .3rem;
  position: absolute;
  top: 1.4rem;
  left: 15%;
  background-color: currentColor;
  border-radius: .8rem;
  pointer-events: none;
}
.tracklist-switcher__item:first-child {
  top: .8rem;
}
.tracklist-switcher__item:last-child {
  top: 2rem;
}
.tracklist-switcher--active > i:nth-child(3n+1) {
  width: 0;
  left: 50%;
  top: 1.4rem;
}
.tracklist-switcher--active > i:nth-child(2) {
  transform: rotate(45deg);
}
.tracklist-switcher--active > i:nth-child(3) {
  transform: rotate(-45deg);
}
.tracklist-switcher:focus > i {
  transition: .15s;
  transition-property: width, top, left, transform;
}

/* DESCRIPTION */

.descr {
  bottom: 0;
  z-index: 5;
}
.descr-switcher {
  position: absolute;
  left: .6rem;
  top: 3rem;
}
.descr-switcher__icon {
  font-size: 3rem;
  width: 1em;
  height: 1em;
  display: block;
  padding: .2em;
  pointer-events: none;
}
.descr__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  z-index: 1;
}
.descr__genres {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .9em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .4em;
  padding: 1em 0;
  text-transform: lowercase;
}
.descr__genre {
  font-style: normal;
  padding: .2em .4em;
  background-color: rgba(61, 72, 81, .65);
  border: 1px solid gray;
  border-radius: .25em;
}
.descr__footer {
  margin-top: auto;
}
.stores {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5em;
  padding-top: 1em;
}
.stores__link {
  font-size: 1.25em;
  width: 1em;
  height: 1em;
  text-decoration: none;
  color: #ccc;
}
.stores__link:hover {
  color: #fff;
}
.stores__icon {
  width: 100%;
  height: 100%;
}

/* LYRICS */

.metatext {
  color: #aaa;
}

/* FOOTER */

.footer {
  --l1: 55%;
  --l2: 75%;
  --color: hsl(0deg, 0%, var(--l1));
  font-size: .75em;
  line-height: 1;
  position: absolute;
  right: 1.5em;
  bottom: 1.75em;
  color: var(--color);
}
.me {
  --color: hsl(0deg, 0%, var(--l2));
  color: var(--color);
  text-decoration: none;
}
.me:hover {
  text-decoration: underline;
}

/* @MEDIA */

@media screen and (max-width: 25em), screen and (max-height: 43em) {
  :root { font-size: 9px; }
}
@media screen and (max-width: 23em), screen and (max-height: 39em) {
  :root { font-size: 8px; }
}
@media screen and (min-width: 25em) and (min-height: 53em) {
  :root { font-size: 12px; }
}
@media screen and (min-width: 48em) {
  .footer {
    --l1: 65%;
    --l2: 85%;
    position: fixed;
    bottom: 1.5em;
  }
}